kernel-benchmark.tar.xz
logs
*.csv
log_*.txt
*.swp
test_gui
_internal
bash_aliases
prepare.sh
suspend.sh
install.sh
terminal.sh
mainline.sh
system76-ppa.sh
resume-hook.sh
apt-proxy
add-local-bin.desktop
add-local-bin.sh